---
import Layout from '../layouts/layout.astro';
---

<Layout title="Series">
  <section style="text-align: center; margin-bottom: 2rem;">
    <h1>Las mejores series del momento! 📺</h1>
  </section>

<section style="margin-top: 3rem;" id="series">
  <div id="contenedorSeries">
    <!-- cards con js -->


  </div>
</section>
<section id="lista">
            <h2>LISTA</h2>
            <ul>
                <!-- aca iran las li que creamos con js-->
            </ul>
            <input id="boton-borrar" type="button" value="Borrar">
</section>

  <style>
    
  </style>

<script>
  
</script>

</Layout>